/* VARIABLES*/
:root{
	/* FUENTES */
	--font-family-alex-brush: 'Alex Brush', cursive;
	--font-family-asap: 'Asap', sans-serif;
	--font-family-asap-condensed: 'Asap Condensed', sans-serif;
	--font-family-montserrat: 'Montserrat', sans-serif;
	--font-family-open-sans-condensed: 'Open Sans Condensed', sans-serif;
	--font-family-roboto: 'Roboto', sans-serif;
	--font-family-roboto-slab: 'Roboto Slab', serif;

	/* PESO DE FUENTES*/
	--font-weight-thin: 100;
	--font-weight-extraLight: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semiBold: 600;
	--font-weight-bold: 700;
	--font-weight-extraBold: 800;
	--font-weight-ultraBold: 900;

	/* RELLENOS */
	--padding-top: 3.125rem ;
	--padding-left: 3.125rem ;
	--padding-bottom: 3.125rem ;
	--padding-right: 3.125rem ;

	/* COLORS */
	--color-dark: #201815;
	--color-dark-alfa: #55595c;
	--color-gray: #E9E9E9;
	--color-brom: #B89A6A;
	--color-carmesi: #ECDAB5;
	--color-orange: #d17b53;

	/* VIDEO */
	--plyr-color-main: #DDCCB8;
	--plyr-audio-controls-background: rgb(0 0 0 / 60%);
	--plyr-audio-control-color: #fff;
  
}
/*ESTANDAR*/
body{
	font-family: var(--font-family-asap-condensed);
	font-size: 1rem;
	line-height: 1.5;
}

body > header{
	position: relative;
	height: 100vh;
	overflow: hidden;
	z-index: 5;
}

input:focus, 
button:focus, 
a:focus{
	outline: 0;
	box-shadow: none;
}

main{
	position: relative;
	z-index: 4;
	padding: 0;
}

main > .wrapper{
	background-color: #fff;
	position: relative;
	z-index: 4;
}

main::after{
	content: "";
	width: 7.5rem;
	height: 7.5rem;
	position: absolute;
	z-index: 2;
	left: 45.5%;
	top: auto;
  	bottom: -3.75rem;
	background-color: #fff;
	display: block;
	right: 45.5%;
	transform: rotate(45deg);
	box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, .52);
}
 /*TOP BAR*/
#topbar{
	height: 2.5rem;
	width: 100%;
	border: 0;
	border-bottom: 0.625rem solid var(--color-dark);
	overflow: hidden;
}
#topbar img{
	position: absolute;
	top: 0;
	left: 0;
	height: 2.5rem;
	width: 100%;
	object-position: center;
	object-fit: cover;
	z-index: 1;
}
#topbar .overlay-topbar{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: rgba(32,24,21,.3);
}
#topbar .container{
	z-index: 4;
	position: relative;
	color: #fff;
	height: 2.5rem;
}
#topbar .container *{
	margin-bottom: 0;
}

/*HEADERS*/
.headerinner{
	padding-left: var(--padding-left);
	padding-right: var(--padding-right);
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}
.headerinner img{
	width: 11.25rem;
}

/*NAV BARS*/
.navmenu{
	width: 100%;
	border: 0;
	border-top: 1px solid var(--color-gray);
	padding-left: var(--padding-left);
	padding-right: var(--padding-right);
	box-shadow: 0 1px 4px var(--color-gray);
	position: sticky;
	top:0;
	left: 0;
}

.navmenu .nav a{
	font-size: 0.937rem;
	font-weight: var(--font-weight-bold);
	font-family: var(--font-family-asap);
	line-height: 1.125rem;
	letter-spacing: 0.17em;
	text-transform: uppercase;
	color: var(--color-dark);
	padding-top: 0.937rem;
	padding-bottom: 0.937rem;
}
.navmenu .nav li:first-child a{
	padding-left: 0;
}
.navbar{
	padding-top: var(--padding-top);
	padding-left: var(--padding-left);
	padding-right: var(--padding-right);
	padding-bottom: 0;
}

.navbar .navbar-brand{
	max-width: 9.375rem;
	width: 100%;
}

.navbar .togglemenu{
	font-size: 1.562rem;
	color: #fff;
	outline: 0;
	box-shadow: none;
}

.navbar .togglemenu:focus,
.navbar .togglemenu.active,
.navbar .togglemenu:visited,
.navbar .togglemenu:hover{
	color: var(--color-carmesi);
}

/* MENÚ FULL WIDTH*/

#offcanvaMenu{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 100vh;
	background-color: var(--color-dark);
	color: #fff;
	padding-left: var(--padding-left);
  	padding-right: var(--padding-right);
  	z-index: 0;
}

#offcanvaMenu.show{
	z-index: 2024;
  	visibility: visible;
}

#offcanvaMenu .offcanvas-header{
	color: #fff;
	padding-top: var(--padding-top);
	border: 0;
	border-bottom: 2px solid #fff;
}

#offcanvaMenu .offcanvas-header h5{
	min-width: 9.375rem;
}

#offcanvaMenu .offcanvas-header .btn-close {
  padding: 0;
  margin: 0;
  height: 1.9375rem;
  color: #fff !important;
}

#offcanvaMenu .offcanvas-header .btn-close i{
	color: #fff !important;
	font-size: 1.4375rem;
}

#offcanvaMenu .offcanvas-body .nav{
	max-width: 20rem;
	margin: auto;
}

#offcanvaMenu .offcanvas-body .nav .nav-item{
	border: 0;
	border-bottom: 1px solid rgba(233,233,233,0.37);
}

#offcanvaMenu .offcanvas-body .nav .nav-item:last-child{
	border-bottom-width: 0 !important;
}

#offcanvaMenu .offcanvas-body .nav-link{
	font-family: var(--font-family-asap);
	font-weight: var(--font-weight-medium);
	font-style: italic;
	font-size: 2.5rem;
	line-height: 3rem;
	letter-spacing: 0.2em;
	color: #fff;
	padding-left: 2rem;
}


#offcanvaMenu .offcanvas-body .nav-item .nav-link:focus,
#offcanvaMenu .offcanvas-body .nav-item .nav-link:visited,
#offcanvaMenu .offcanvas-body .nav-item .nav-link:active,
#offcanvaMenu .offcanvas-body .nav-item .nav-link:hover,
#offcanvaMenu .offcanvas-body .nav-item.active .nav-link {
  color: var(--color-carmesi) !important;
}

.btn-close{
	outline: none;
	box-shadow: none;
}

/* SLIDERS */

.slider{
	margin-top: -6.5rem;
	max-height: 50rem;
	height: 100vh;
}
.slider .carousel-overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 2;
}
.slider .content{
	position: absolute;
	top: 46%;
	left: 0;
	width: 100%;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 3;
}
.slider .content .container{
	display: flex;
	align-items: flex-start;
	padding: 0;
	margin-left: 5rem;
}

.slider .carousel-caption{
	width: 100%;
	max-width: 33.937rem;
	position: relative !important;
	right: auto !important;
	left: auto !important;
	bottom: auto !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.slider .carousel-caption h1,
.slider .carousel-caption h2{
	font-family: var(--font-family-asap-condensed);
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: 600;
}

.slider .carousel-caption .link-plus,
.slider .carousel-caption .extract{
	font-family: var(--font-family-asap-condensed);
	font-size: 1.375rem;
	line-height: 1.65rem;
	font-weight: 400;
}

.slider .carousel-caption .link-plus{
	color: var(--color-carmesi);
	display: flex;
	align-items: center;
	outline: 0 !important;
	box-shadow: none !important;
	padding-left: 0 !important;
	width: 10rem;
}

.slider .carousel-caption .link-plus img{
	margin-right: .5rem;
}

.slider .bd-placeholder-img{
	z-index: 0;
}
.slider img.bd-placeholder-img{
	object-fit: cover;
}
.slider .carousel-control-next,
.slider .carousel-control-prev{
	z-index: 5;
}
.arrow-hover .carousel-control-next,
.arrow-hover .carousel-control-prev{
	opacity: 0;
	transition: opacity .15s ease-in-out;
}
.arrow-hover:hover .carousel-control-next,
.arrow-hover:hover .carousel-control-prev{
	opacity: 1;
}

.slider:not(.showvideo) .plyr__controls,
.slider:not(.showvideo) .plyr__control{
	display: none !important;
}

.slider .duo{
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
	bottom: auto;
	height: 30vh;
	z-index: 10;
}

.slider .duo .content{
	top: var(--padding-top);
}
.slider .duo .carousel-control-prev{
	transform: translateX(-7rem);
}
.slider .duo .carousel-control-next{
	transform: translateX(-3rem);
}
.slider .duo h3,
.slider .duo time{
	font-family: var(--font-family-asap-condensed);
	font-size: 1.375rem;
	line-height: 1.65rem;
	font-weight: 600;
}
.slider .duo time{
	color: var(--color-carmesi);
}

.slider .duo .descrip{
	font-family: var(--font-family-asap-condensed);
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.35;
	text-decoration: underline;
}

.slider .one{
	z-index: 8;
}
.slider .duo{
	z-index: 10;
}

/* FOOTER */

body > footer{
	background-color: #5b5b5e;
	position: relative;
	z-index: 1;
	box-shadow: 1px 0px 10px inset rgba(0, 0, 0, .52);
}


.logo-footer{
	width: 10.65rem;
  	filter: brightness(0.8);
}

body > footer .row{
	padding-top: 5.93rem;
	padding-left: var(--padding-left);
	padding-right: var(--padding-right);
	padding-bottom: 2.5rem;
}

body > footer .row > div:not(:last-child){
	border-right: 1px solid #d7d8dc;
}

body > footer .row > div:last-child{
	padding-left: 3.75rem;
}

.foomenu{
	margin-bottom: 0.8rem;
}

.foomenu li{
	padding: 0rem 0.3rem;
}

.foomenu a,
.copyright{
	font-family: var(--font-family-asap);
	font-weight: var(--font-weight-regular);
	font-size: 1rem;
	color: #d7d8dc;
	line-height: 1.2rem;
}

.foomenu a{
	text-decoration: none;
}

.socialmenu a:focus,
.socialmenu a:active,
.socialmenu li:hover a,
.foomenu a:focus,
.foomenu a:active,
.foomenu a:hover{
	color: #fff;
}

.foomenu li:not(:last-child){
	border-right: 1px solid #d7d8dc;
}

.socialmenu{
	justify-content: center;
	width: 100%;
	text-align: center;
	margin-bottom: 3.125rem;
}

.socialmenu li{
	border-radius: 100%;
	border: 1px solid #d7d8dc;
	width:2.812rem;
	height:2.812rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.socialmenu li:not(:last-child){
	margin-right: 0.5rem;
}

.socialmenu li a{
	color: #d7d8dc;
}

.socialmenu li a i{
	font-size: 1.125rem;
}

.formsingle h4{
	font-family: var(--font-family-asap);
	font-size: 1rem;
	font-weight: var(--font-weight-bold);
	line-height: 1.2rem;
	color: #d7d8dc;
}

.formsingle input{
	background-color: #86858a;
	border-color: #86858a;
	border-radius: .5rem;
	border-top-right-radius: 0 !important;
 	border-bottom-right-radius: 0 !important;
}

.formsingle input:focus {
	background-color: #d7d8dc;
	border-color: #86858a !important;
	color: #86858a;
}

.formsingle #formsingle{
	background-color: #d7d8dc;
	border-radius: .5rem;
	border-top-left-radius: 0 !important;
  	border-bottom-left-radius: 0 !important;
}

.formsingle #formsingle i{
	color: #86858a;
}

.formsingle .input-group{
	margin-bottom: 1.2rem;
}

.formsingle p{
	color: #adadb2;
	font-size: 0.875rem;
	line-height: 1.05rem;
	font-family: var(--font-family-asap);
	font-weight: var(--font-weight-bold);
}

/* SECTIONS */
section.block{
	display: flex;
  	flex-direction: column;
  	padding-top: 3.75rem;
  	padding-bottom: 3.75rem;
}

section.block .titlesection{
	order: 1;
}
section.block .btn-text{
	order: 2;
	margin-left: auto;
  	margin-right: var(--padding-right);
  	margin-top: -4rem;
  	margin-bottom: 3.75rem;
}
section.block .btn-text .btn{
	background-color: var(--color-orange);
  	color: #fff;
}
section.block .btn-text .btn i{
	color: #fff;
}
section.block .contents{
	order: 3;
	padding-left: var(--padding-left);
	padding-right: var(--padding-right);
}

section.modern{
	display: flex;
  	flex-direction: column;
  	padding-top: 3.75rem;
  	padding-bottom: 3.75rem;
}

section.modern .titlesection{
	order: 1;
}

section.modern .contents{
	order: 2;
	padding-left: var(--padding-left);
	padding-right: var(--padding-right);
}

section.modern .btn-text{
	order: 3;
	width: 14rem;
	margin: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 1.3rem;
	margin-top: var(--padding-top);
}

section.modern .btn-text .btn{
	background-color: #9ebbad;
  	color: #fff;
}
section.modern .btn-text .btn i{
	color: #fff;
}

section.modern .btn-text span{
	color: #201815 !important;
}

section.modern .card.single .card-body .card-author::before{
	border-color: #9ebbad !important;
}

/*BOTONES*/
.btn-text span{
	font-family: var(--font-family-asap);
	font-weight: var(--font-weight-bold);
	font-size: 0.75rem;
	line-height: 0.9rem;
	letter-spacing: 0.099em;
	color: #86858a;
	text-transform: uppercase;
	margin-bottom: 1.18rem;
}

.btn-text .btn{
	width: 2.65rem;
	height: 2.65rem;
	transition: all .15s ease-in-out;
}

.btn-text .btn:focus,
.btn-text .btn:hover{
	box-shadow: none,
	border:0;
	opacity: 0.7;
}

.btn-text.d-inline-flex{
	align-items: center;
}

.btn-text.d-inline-flex span {
  margin-bottom: 0 !important;
  margin-right: 0.5rem;
}

.btn-text.btn-v{
  width: 14rem !important;
  padding-top: 1.3rem !important;
}

/* TITLES*/
.hightitle{
	padding-left: var(--padding-left);
	border: 0;
	border-top: 1px solid #201815;
}
.hightitle h2{
	width: auto;
	text-transform: capitalize;
	font-size: 3.75rem;
	font-family: var(--font-family-montserrat);
	font-weight: var(--font-weight-medium);
	line-height: 4.5rem;
	letter-spacing: 0.1em;
	display: inline-block;
	color:#201815;
	border: 0;
  	border-top: 0.6875rem solid #201815;
}

.bordertitle{
	display: flex;
	align-items: center;
	margin-bottom: var(--padding-bottom);
	font-family: var(--font-family-montserrat);
	font-weight: var(--font-weight-light);
	font-size: 3.75rem;
	line-height: 4.5rem;
	color:  #201815;
	border-color: #201815;
}
.bordertitle::before,
.bordertitle::after{
	content: "";
	width: 100%;
	border: 0;
	display: inline-flex;
	border-bottom: 1px solid;
	border-color: inherit;
	height: 2px;
}
.bordertitle h2{
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	padding-left: var(--padding-left);
	padding-right: var(--padding-right);
	border: 0px solid;
	border-color: inherit;
	border-left-width: 1px;
	border-right-width: 1px;
}
.bordertitle.bd-all h2{
	border-width: 1px !important;
}
.bordertitle.text-start::before{
	width: var(--padding-left) !important;
}
.bordertitle.text-end::after{
	width: var(--padding-right)!important;
}
/* CARD SHOW POST*/
.card a{
	text-decoration: none !important;
}

.card.single .card-img-top{
	border-radius: 0 !important;
}

.card.single .card-body{
	padding: 1.3rem !important;
	margin-top: -2.25rem;
	background-color: #fff;
	margin-left: 1.56rem;
}

.card.single .card-body .card-time{
	color: #717175;
	font-family: var(--font-family-asap);
	font-size: 0.75rem;
	line-height: 0.9rem;
	font-weight: var(--font-weight-regular);
	text-transform: uppercase;
	margin-bottom: 0.7rem;
  	display: block;
}

.card.single .card-body .card-title{
	color: #201815;
	font-size: 1.5rem;
	font-family: var(--font-family-asap-condensed);
	line-height: 1.8rem;
	font-style: italic;
	font-weight: var(--font-weight-semiBold);
	margin-bottom: 1.3rem;
}

.card.single .card-body .card-text{
	font-size: 1.1875rem;
	color: #86858a;
	line-height: 1.425rem;
	margin-bottom: 1.3rem;
}

.card.single .card-body .card-author{
	position: relative;
	text-transform: uppercase;
}

.card.single .card-body .card-author::before{
	content: "";
	border-top: 3px solid #d17b53;
	width: 2.5rem;
	display: block;
	margin-bottom: 1rem;
}

.card.single .card-body .card-author a{
	font-family: var(--font-family-asap);
	font-size: 0.75rem;
	line-height: 0.9rem;
	letter-spacing: 0.1em;
	color: #201815;
	text-decoration: none !important;
	font-weight: var(--font-weight-regular);
}

.card.single .card-body .card-author a span{
	font-weight: var(--font-weight-bold);
}

.card.fullmoder{
	margin-bottom: 5.625rem;
}

.card.fullmoder .card-body{
	margin-left: 12rem;
	border: 0;
	border-left: 1px solid  #332e2d;
	padding-left: 2rem;
}

.card.fullmoder .card-body .card-title{
	font-family: var(--font-family-montserrat);
	font-size: 3.125rem;
	line-height: 3.75rem;
	font-style: italic;
	font-weight: var(--font-weight-extraLight);
	color: #332e2d !important;
	margin-bottom: 2rem;
}

.card.fullmoder .card-body .card-title a{
	color: #332e2d !important;
}

.card.fullmoder .card-body .card-time,
.card.fullmoder .card-body .card-author a{
	font-family: var(--font-family-asap);
	font-weight: var(--font-weight-regular);
	font-size: 0.75rem;
	line-height: 0.9rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #201815;
	margin: 0;
}

.card.fullmoder .card-body .card-time{
	color: #717175;
	margin-left: 1rem;
}

.card.fullmoder .card-body .card-author a span{
	font-weight: var(--font-weight-bold);
}

.card.fullmoder .card-body .card-author{
	width: auto;
	display: inline-flex;
}


/* SOCIAL */
.social-list{
	display: inline-flex;
	padding-left: 0;
	list-style: none;
	justify-content: flex-end;
}
.social-list li{
	width: 1.3rem;
	height: 1.3rem;
}

.social-list li:not(:last-child){
	margin-right: 0.3rem;
}

.social-list li a{
	width: 1.3rem;
	height: 1.3rem;
	font-size: 1.2rem;
	padding: 0.3rem;
	color: #fff;
	transition: all 0.2s ease-in;
}

.social-list li a:focus,
.social-list li a:hover{
	color: var(--color-orange);
}

/*SEARCH*/
.search-form{
	display: inline-flex;
	width: 100%;
  	max-width: 25rem;
}
.search-form input{
	border-radius: 20px;
}
.search-form .btn{
	margin-left: 1.5rem;
}
.search-form .btn:hover,
.search-form .btn:focus{
	opacity: 0.8;
}
/*filter*/
.brand-black{
  filter: brightness(0);
}

/*Color*/
.bg-white{
	background-color: #fff !important;
}
.fg-white{
	color: #fff !important;
}
.bg-orange{
	background-color: var(--color-orange) !important;
}
.fg-orange{
	color: var(--color-orange) !important;
}
.bg-graydark{
	background-color: #adadb2 !important;
}
.fg-graydark{
	color: #adadb2 !important;
}
.bg-bron{
	background-color: #bc9d6c !important;
}
.fg-bron{
	color: #bc9d6c !important;
}
.bd-bron{
	border-color: #bc9d6c !important;
}

.ft-brush{
	font-family: var(--font-family-alex-brush) !important;
}
.ft-asap{
	font-family: var(--font-family-asap) !important;
}
.ft-asap-condensed{
	font-family: var(--font-family-asap-condensed) !important;
}
.ft-opensans-condensed{
	font-family: var(--font-family-open-sans-condensed) !important;
}
.ft-montserrat{
	font-family: var(--font-family-montserrat) !important;
}
.ft-roboto{
	font-family: var(--font-family-roboto) !important;
}
.ft-roboto-slab{
	font-family: var(--font-family-roboto-slab) !important;
}

/* RESPONCIVE*/

@media(min-width: 577px){
	.slider .content .container{
		justify-content: flex-end;
	}
}

@media(max-width: 576px){
	.slider .duo .descrip,
	.slider .carousel-caption .extract{
		display: none !important;
	}

	.slider .carousel-caption{
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
		text-align: center !important;
	}
}
@media (max-width: 768px){
	.slider,
	.slider .carousel-inner,
	.slider .bd-placeholder-img{
		min-height: 100vh !important;
	}

	.slider .content .container{
		justify-content: center;
	}

	.slider .duo{
		left: 25%;
		right: 25%;
		padding-right: 0;
	}
}



