<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ArtPost">
	<meta name="author" content="Bootlab">

	<title>Login | Artpost</title>

	<link rel="canonical" href="pages-sign-in.html">
	<link rel="shortcut icon" href="../asset/img/favicon.ico">

	<link href="../asset/css/css2.css?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

	<!-- Choose your prefered color scheme -->
	<link href="../asset/css/light.css" rel="stylesheet">
</head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-behavior: sticky (default), fixed, compact
-->

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
	<div class="main d-flex justify-content-center w-100">
		<main class="content d-flex p-0">
			<div class="container d-flex flex-column">
				<div class="row h-100">
					<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
						<div class="d-table-cell align-middle">

							<div class="text-center mt-4">
								<h1 class="h2">Bienvenido</h1>
								<p class="lead">
									Inicia sesión en tu cuenta para continuar
								</p>
							</div>

							<div class="card">
								<div class="card-body">
									<div class="m-sm-4">
										<div class="text-center">
											<img src="../asset/img/avatarwithmask.png" alt="Protegete del COVID 19" title="Protegete del COVID 19" class="img-fluid rounded-circle" width="132" height="132">
										</div>
										<form method="post" action="login.php">
											<div class="form-group">
												<label>Correo</label>
												<input class="form-control form-control-lg" type="email" name="email" placeholder="Ingrese su correo">
											</div>
											<div class="form-group">
												<label>Contraseña</label>
												<input class="form-control form-control-lg" type="password" name="password" placeholder="Ingrese su clave">
											</div>
											<div>
											</div>
											<div class="text-center mt-3">
												<button type="submit" class="btn btn-lg btn-primary">Entrar</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script src="../asset/js/app.js"></script>

</body>

</html>